.book_img{
    width: 100% ;
    border-radius: 20px ;
}
body{
    background-image: url() !important ;
}
#favIcon{
    cursor: pointer;
}

.ratingStar {
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 12px;
    margin: 0;
    padding: 0;
    width: 13px;
}
.avg_rate span , .user_rate span{
    cursor: default  ;
}
.emptyRatingStar {
    background-image: url("../images/EmptyStar.png");
}

.filledRatingStar {
    background-image: url("../images/FilledStar.png");
}

.lease-options{
    display: none ; 
}